<p-dialog
  [visible]="visible()"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '450px' }"
  (onHide)="onHide()"
>
  <ng-template pTemplate="header">
    <h3>{{ title }}</h3>
  </ng-template>

  <form [formGroup]="form" (ngSubmit)="onSave()">
    @if (contextInfo) {
      <p class="context-info">{{ contextInfo }}</p>
    }

    <div class="field">
      <label [for]="'names-' + data().type">
        {{ label }} <span class="required">*</span>
      </label>
      <textarea
        pTextarea
        [id]="'names-' + data().type"
        formControlName="names"
        [class.ng-invalid]="isFieldInvalid('names')"
        [class.ng-dirty]="isFieldInvalid('names')"
        [placeholder]="'settings.categories.enterNames' | translate"
        rows="5"
        autofocus
        style="resize: vertical; min-height: 100px;"
      ></textarea>
      <small class="field-hint">{{ 'settings.categories.namesHint' | translate }}</small>
      @if (isFieldInvalid('names')) {
        <small class="p-error">{{ getFieldError('names') | translate }}</small>
      }
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      [label]="'common.cancel' | translate"
      severity="secondary"
      [text]="true"
      (onClick)="onHide()"
    />
    <p-button
      [label]="'common.save' | translate"
      (onClick)="onSave()"
      [loading]="isSaving()"
    />
  </ng-template>
</p-dialog>

